.chart-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background: #484848;
  border-radius: 16px;
  border: 4px solid rgb(255, 255, 255); 
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.chart-container-2 {
  width: 640px;
  height: 350px;
  margin: 0.2rem auto;
  padding: 1rem;
  background: #484848;
  border-radius: 16px;
  border: 4px solid white;
  display: flex;
  
}